---
layout: default
title: Article Archive
banner:
  heading: Holistic living
  description: >-
    Harmony is found in the dance of Ayurveda, where mind, body, and spirit unite in vibrant well-being.
  image_path: /uploads/ayurveda-blog-7.jpg
  button:
    text: 
    url: '#'
  image:
    image_path: /uploads/travel/travel-2.jpg
banner-style-indented: true
heading: Explore Articles
description: Immerse yourself in a holistic collection of ancient wisdom and practical guidance. Explore the timeless principles of Ayurveda and the transformative power of yoga, seamlessly integrated into your modern lifestyle. Embrace balance, mindfulness, and natural remedies to unlock a healthier, more fulfilling way of living. Embark on a journey towards holistic well-being and discover the secrets of wellness harmoniously woven into your daily routines.

---
<!-- Hero Banner -->
{% if page.banner-style-indented == true %}
{% include hero-banner.html %}
{% else %}
{% include hero-banner-full.html %}
{% endif %}

<!-- Blog Archive -->
<section class="p-5p archive" x-data="{ search: '', posts: [...document.querySelectorAll('.post')] }" x-on:input="filterPosts">
  <div class="max-w-screen-lg mx-auto p-2 center mb-8 text-center">
      <h2 class="font-serif text-4xl mb-4">{{page.heading}}</h2>
      <p class="mb-8">{{page.description}}</p>
 
      <div class="filter relative my-4 inline-block"> 
          <input type="text" x-model="search" placeholder="Search..." class="p-4 focus" />
      </div>
  </div>

  <div class="max-w-screen-lg mx-auto">

      {% for post in site.posts limit:100 %}

      <div class="post" x-show="search === '' || $el.querySelector('h2').textContent.toLowerCase().includes(search.toLowerCase())">
          {% include post-loop-list-item-simple.html %}
      </div>

      {% endfor %}
  </div>
</section>