---
layout: default 
title: Shop
banner: 
  heading: Shop.
  description: Discover harmony and healing through Ayurveda – where body, mind, and soul unite in blissful alignment.
  image_path: /uploads/ayurveda-blog-33.jpg
  image_focus: bottom
banner-style-indented: false
---

<!-- Header -->
{% if page.banner-style-indented == true %}
{% include hero-banner.html %}
{% else %}
{% include hero-banner-full.html %}
{% endif %}

<!-- Explore Products -->
<section class="py-[20%] md:py-5p px-5p max-w-screen-xl mx-auto" x-data="{ filter: 'all' }">

	<h2 class="text-center text-4xl mb-1 editable mt-16 md:mt-0"> Shop all products </h2> 

	<div class="filter p-6 text-center"> 
		<a href="#" class="shopify-button m-4" :class="{'active':filter === 'all'}" @click.prevent="filter = 'all'" >All</a>
        <a href="#" class="shopify-button m-4" :class="{'active':filter === 'guide'}" @click.prevent="filter = 'guide'">Guides</a>
        <a href="#" class="shopify-button m-4" :class="{'active':filter === 'course'}" @click.prevent="filter = 'course'">Courses</a>
	</div>

	<div class="grid md:grid-cols-3 gap-4">

	{% assign all_products = site.products-guides | concat: site.products-courses | sort: 'title'  %}

	{% for product in all_products %}
		
		<div class="{{product.type | slugify }}" x-show="filter === 'all' || filter === '{{ product.type | slugify }}'">
		{% include product-loop-item.html %}
		</div>
			
	{% endfor %}

	</div>

</section>