/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

@layer components {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .focus {
        @apply focus:outline-none focus:ring-2 focus-visible:ring-accent
    }
}

/* ----------- CSS RESET --------- */
@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        transition: color 0.5s, background-color 0.5s, width 0.5s;
    }

    body {
        font-weight: 300;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    section {
        position: relative;
    }

    div {
        background-size: cover;
        background-position: center;
    }

    h1 {
        @apply font-serif text-[13vw] mb-8 leading-[0.8];
    }

    h2,
    h3,
    h4 {
        @apply uppercase font-serif mb-8 tracking-widest
    }

    h2 {
        @apply text-5xl
    }

    h3 {
        @apply text-xl font-sans mb-4
    }

    p {
        @apply mb-4
    }

    footer h2 {
        @apply text-xl uppercase
    }

    li h3 {
        @apply text-left
    }

    .prose blockquote {
        @apply font-serif text-center text-5xl tracking-wide not-italic border-none m-0 px-4 py-8;
    }

    .tag {

        @apply uppercase text-zinc-600 text-xs tracking-wide;
    }

    .button {
        @apply uppercase font-serif mb-4 inline-block border-b border-dark tracking-widest text-2xl
    }

    .button-2 {
        @apply uppercase text-dark border border-dark px-8 py-4 inline-block mx-4
    }

    .button-2:hover {
        @apply bg-dark text-white px-8 py-4
    }

    .shopify-button {
        @apply uppercase bg-dark text-white px-8 py-4 inline-block border
    }

    .blurb {
        font-size: 4.5rem;
        line-height: 1;
        font-family: Italiana, serif;
        text-align: center;
        text-transform: initial;
    }

    .blurb-xs {
        @apply text-3xl font-serif text-left normal-case
    }

    .bg-image-style {
        @apply bg-no-repeat bg-cover bg-center
    }

}

.filter .active {
    @apply bg-transparent text-dark border border-dark
}

.ul-parent-dots ul {
    @apply list-disc mb-4
}

.ul-parent-dots li {
    @apply mb-4
}

.featured-gallery {
    @apply overflow-x-auto flex-nowrap
}

/* Mobile Menu */
.mobile-button {
    @apply fixed top-5p right-5p z-50 p-2
}

.mobile-button span {
    @apply w-[2rem] border border-accent bg-accent block rounded-[22px] transition duration-200
}

.mobile-button.active span {
    @apply border border-accent bg-accent
}

.mobile-top,
.mobile-bottom {
    @apply absolute
}

.mobile-top {
    @apply -top-[02px]
}

.mobile-bottom {
    @apply -bottom-[2px]
}

/* make sure this has the same top as the burger button has padding*/
.mobile-button.active .mobile-top {
    @apply absolute top-2 origin-center rotate-45
}

.mobile-button.active .mobile-middle {
    /*   transform: rotateZ(270deg); */
    @apply opacity-0
}

.mobile-button.active .mobile-bottom {
    @apply absolute bottom-2 origin-center -rotate-45
}

.mobile-menu {
    @apply fixed top-0 left-[100vw] -right-[100vw] bottom-0 bg-medium p-5 z-40 transition duration-[1s] ease-in-out shadow-lg opacity-95
    /* display: flex;
    position: fixed;
    top: 0vh;
    left:100vw;
    right: -100vw;
    bottom: 0vh;
    background-color: #c8cbc4;
    padding: 5%;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
  transition:1s;
    align-content:space-around;
  justify-content:space-around;
  flex-direction:column; */
}

.mobile-menu.active {
    @apply left-0 right-0
}

.mobile-menu a {
    @apply uppercase text-xl text-center block pt-[10vh] px-5p
}

.mobile-menu a:hover {
    @apply text-accent
}




/* Memberspace popup styles */

.MemberSpaceWidgetInternal__modal_modal,
.MemberSpaceWidgetInternal__modal_size-sm {

    @apply bg-stone-300;
}

/* Members Area Styles */
#memberspace-login-form input {
    border: 2px solid blue;
}

#memberspace-login-form label {
    border: 2px solid yellow;
}

/* Forgot Email / forgot password text */
#memberspace-login-form .MemberSpaceWidgetInternal__InputWrapper_labelRight {
    color: green;
}


#memberspace-login-form .MemberSpaceWidgetInternal__Button_variant-primary {
    color: red;
}

#memberspace-login-form .MemberSpaceWidgetInternal__Button_variant-secondary {
    color: blue;
}

.MemberSpaceWidgetInternal__BrandedInterface_footer {
    display: none;
}