---
layout: default
---

<!-- Header -->
<section class="grid grid-cols-2 items-end">
	<div class="col-span-1 px-15p">
		<h1 class="text-6xl">{{page.title}}</h1>
		<h2 class="font-sans text-xl text-left tracking-widest mb-8">{{page.subtitle}}</h2>
		<p class="mb-8">{{page.description_html}}</p>
		<a href="#" class="shopify-button">Buy Now</a>
	</div>
	<div class="col-span-1 min-h-70" style="background-image:url('{{page.featured_image}}');"></div>
</section>

<!-- Features -->
<section class="p-10p">
	<h2 class="text-center">What's Included</h2>
	<div class="grid grid-cols-3 gap-8">
		{% for item in page.features %}
		<div>
			<h3 class="mt-4">{{item.heading}}</h3>
			<p>{{item.description}}</p>
		</div>
		{% endfor %}
	</div>
</section>

<!-- How To -->
<section class="grid grid-cols-3 max-w-screen-xl mx-auto p-10p bg-sand">
	<div class="col-span-1 pr-16 self-center">
		<h2 class="text-4xl">Learn From Home</h2>
		<p>Experience the convenience and flexibility of learning from the comfort of your home with our pre-recorded lessons. Enjoy the freedom to study at your own pace, review materials as needed, and fit your education seamlessly into your busy schedule. Embrace an immersive and personalized learning experience without the constraints of traditional classroom settings. Whether it's early mornings or late nights, our pre-recorded lessons allow you to unlock knowledge and growth on your terms.</p>
	</div>
	<div class="col-span-2">
		{% include video.html
		vimeo-id=site.data.course-settings.vimeo-id %}</div>
</section>

<!-- Curriculum -->
<section class="p-10p">
	<h2 class="text-4xl uppercase border-b border-dark pb-8">What You'll Learn</h2>
	<ul class="mb-16">
		{% for item in page.curriculum %}
		<li x-data="{ open: false }" class="border-b border-dark my-8">
			<button @click="open = ! open" class="flex justify-between w-full">
				<h3 class="font-sans text-xl font-normal">{{item.title}}</h3>
				
				<span><svg x-show="!open" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"/></svg>
				
				<svg x-show="open" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"/></svg></span>
			</button>
			<div x-show="open" @click.outside="open = false">
				<p class="mb-8">{{item.description}}</p>
			</div>
		</li>
		{% endfor %}
	</ul>
	<div class="flex justify-center">
		<a href="#" class="shopify-button">Enroll Now</a>
	</div>
</section>

<!-- Banner -->
<section class="min-h-70 bg-image-style flex items-center md:bg-fixed" style="background-image: url('{{page.featured_image}}');">
	<p class="font-serif p-10p text-6xl text-light max-w-5xl editable">Once you get the taste of balance, you'll never be the same.</p>
</section>

<!-- Related Products -->
{% assign relevant-products = site.products-courses | where_exp:"product","product.url != page.url" %}

{% include related-products.html relevant-products=relevant-products %}